body {
  margin: 0;
  display: flex;
  flex-direction: column; /* Align content vertically */
  width: 100vw;
  min-height: 100vh;
}

@font-face {
  font-family: "tradegothic_ltbold";
  src: url("./assets/trade_gothic_lt_bold_no._2-webfont.woff2") format("woff2"),
    url("./assets/trade_gothic_lt_bold_no._2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

$primary: #f4b321;
$body-bg: #263344;
$btn-color: #263344;

@import "../node_modules/bootstrap/scss/bootstrap";

.btn-primary.btn {
  --bs-btn-active-color: #{lighten(#263344, 5%)};
  color: $body-bg;
  font-weight: 800;
  text-transform: uppercase;
}

.upper {
  text-transform: uppercase;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "tradegothic_ltbold";
  text-transform: uppercase;
}

.pill {
  background-color: $primary;
  color: $body-bg;
  border-radius: 10px;
  padding: 0 5px;
  white-space: nowrap;
}

.canvas-display {
  display: flex;
  max-width: 100%;
  height: auto !important;
  aspect-ratio: 16 / 9;
}
